<div class="content">
    <div class="title">
        <h1>Categorias</h1>
    </div>

    <button mat-stroked-button class="mat-elevation-z8" (click)="navigateRoCategoryCreate()" color="primary">Nova Categoria</button>

    <div class="mat-elevation-z8 content-table">
        <table mat-table class="table" [dataSource]="categorias">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Nome Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- Descrição Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descri&ccedil;&atilde;o </th>
                <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
            </ng-container>

            <!-- Descrição Column -->
            <ng-container matColumnDef="livros">
                <th mat-header-cell *matHeaderCellDef> Livros </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#" class="livros">
                        <i class="material-icons">book</i>
                    </a>
                </td>
            </ng-container>

            <!-- Ações Column -->
            <ng-container matColumnDef="action">
                <th class="mat-header" mat-header-cell *matHeaderCellDef> A&ccedil;&otilde;es </th>
                <td mat-cell *matCellDef="let row">
                    <a href="#" class="edit">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#" class="delete">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>



</div>